<form (ngSubmit)="addWord()" #addWordForm="ngForm">
  <div class="input-field inline">
    <input type="text" name="newWord" id="newWord" [(ngModel)]="newWord" required />
    <label for="newWord">Nouveau mot</label>
  </div>
  <div class="input-field inline">
    <input type="text" name="newWordDescription" id="newWordDescription" [(ngModel)]="newWordDescription" />
    <label for="newWord">Phrase de contexte</label>
  </div>
  <span>
    <button type="submit" class="btn blue darken-1" [disabled]="!addWordForm.valid">Ajouter</button>
  </span>
</form>

<div class="row words-list">
  <div class="col s4" *ngFor="let word of words">
    <a href (click)="deleteWord($event, word)"><i class="material-icons left red-text text-lighten-1">delete</i></a>
    {{word.label}}
    <span>
      <i class="material-icons clickable" (click)="read(word.label)">play_arrow</i>
    </span>
    <span *ngIf="word.explain">
      <i class="material-icons clickable" (click)="read(word.explain)">play_circle_outline</i>
      <i class="material-icons tooltipped" data-position="bottom"
                                  data-delay="50" [attr.data-tooltip]="word.explain">info</i>
    </span>
  </div>
</div>
