.today {
  font-size: 2em;
}

.now {
  font-family: Orbitron;
  font-weight: bold;
  font-size: 3em;
}

.total {
  margin-top: 20px;
  padding: 10px;
  font-size: 1.5em;
}

.total span {
  font-size: 2em;
}
