<div class="row">
  <div class="col s6">
    <form [formGroup]="form">
      <p *ngFor="let task of dailyTasks">
        <label [attr.for]="task.name">
          <input type="checkbox" [attr.id]="task.name" [formControlName]="task.name" />
          <span>{{task.description}} ({{task.value}})</span>
        </label>
      </p>
    </form>
  </div>
  <div class="col s6">
    <div class="today">
      {{clock | async | date:'dd MMMM yyyy'}}
    </div>
    <div class="now">
      {{clock | async | date:'HH:mm:ss'}}
    </div>
    <div class="total z-depth-5 orange darken-3 white-text">
      Aujourd'hui : <span>{{score}}</span>
    </div>
    <div class="total z-depth-5 blue darken-3 white-text">
      Total : <span>{{total}}</span>
    </div>
  </div>
</div>
